[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.piwheels.org/simple"
verify_ssl = true
name = "piwheels"

[packages]
docker = "*"
humanize = "*"
requests = "*"
pyaescrypt = "*"
croniter = "*"
tempora = "*"

[dev-packages]

[requires]
python_version = "3.9"
